ul.related-news{}
ul.related-news li.related-news{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    overflow: hidden;
}
ul.related-news li.related-news p.posted{
    font-size: 10px;
    color: #333;
    font-family: var(--df);
    margin-bottom: 0;
    font-weight: 400;
}
ul.related-news li.related-news p.posted span.read-time{color: #194985}
ul.related-news li.related-news p.posted i{}
ul.related-news li.related-news p.author{
    font-size: 12px;
    color: #333;
    font-family: var(--df);
    margin: 0 0;
}
ul.related-news li.related-news img{
    float: left;
    margin-right: 20px;
    max-width: 80px;
}
ul.related-news li.related-news p.author a{
    font-weight: bold;
}
ul.related-news li.related-news h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
ul.related-news li.related-news h4 a{
    color: #333;
}
ul.related-news li.related-news h4 a:hover{
    color: #58ab47;
}


.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news{
	list-style: none;
    margin: 0;
    overflow: hidden;
}
.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news li{
	overflow: hidden;
	padding: 8px 0;
	border-bottom: 1px solid #2a5e8a;
	display: block;
	min-height: 69px;
}
.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news li.last{border: none;padding-bottom: 0;}
.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news li a{padding: 0;}
.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news li img{
	float: left;
	margin: 0 10px 0 0;
	max-width: 45px;
	border-radius: 4px;
}
.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news li h4{
	font-family: var(--pf);
	font-size: 12px;
	margin: 0;
	font-weight: 400;
}
.navbar-we-mega-menu .we-mega-menu-row .type-of-block ul.related-news li h4 a{
    padding: 0;
    font-size: 12px;
    margin: 0;
}


.node--type-news .block-system-main-block .field{margin: 0 0 20px;float: none;}
.node--type-news .field .field__label{
	font-family: var(--sf);
    font-weight: 800;
    color: #194985;
    text-transform: uppercase;
    line-height: 1;
    font-size: 20px;
}

.node--type-news .block-system-main-block figure .field{margin: 0;}

.node--type-news .block-system-main-block figure{
    padding: 15px;
    background: #fafafa;
    display: block;
    border: 1px solid #eee;
}
.node--type-news .block-system-main-block figure img{
    margin: 0 0 10px;
}
.node--type-news .block-system-main-block figure figcaption{
    display: block;
    caption-side: unset;
    text-align: center;
    font-family: var(--pf);
    font-weight: 400;
}

.node--type-news #main #content section.section{
    position: relative;
}
.node--type-news #main #content section.section:after{
    position: absolute;
    height: 40px;
    width: 260px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 434.5 67.4' style='enable-background:new 0 0 434.5 67.4;' xml:space='preserve'%3E%3Cg transform='translate(55.921 -352.712)'%3E%3Cpath id='Path_3196' fill='rgba(255, 255, 255, 1)' d='M378.6,420.1c-147.4,0-174.3-67.4-217.3-67.4s-69.9,67.4-217.3,67.4L378.6,420.1L378.6,420.1z' /%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: -90px;
    background-size: contain;
}
.node--type-news #main #content section.section:before{
    content: "";
}
.node--type-news #main #content section.section h1.title{
    color: #1b4985;
    margin-bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: 31px;
}

.node--type-news .block-system-main-block .field--name-field-post-date{
	border-top: 4px solid #58ab47;
    display: inline-block;
    color: #555;
    font-weight: bold;
    font-size: 12px;
    padding-top: 11px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.node--type-news .block-system-main-block .read-time{
	color: #194985;
    font-weight: 600;
    font-size: 12px;
}

.node--type-news .block-system-main-block .field--name-field-highlights{
    padding: 25px;
    background: #f1f2f6;
}
.node--type-news .block-system-main-block .field--name-field-highlights .field__label{
	font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}
.node--type-news .block-system-main-block .field--name-field-highlights .field__item{}

.node--type-news .field--name-field-author{
	overflow: hidden;
    background: #f1f2f6;
    padding: 10px;
    border-radius: 10px;
}

.node--type-news .field--name-field-author h2{
	    color: #194985;
    font-size: 22px;
    margin: 0;
}

.node--type-news .field--name-field-author img{
    float: left;
    border-radius: 100px;
    margin: 0 20px 5px 0;
    max-width: 60px;
}
.node--type-news .field--name-field-author .field--name-node-title{
    margin: 0;
    font-weight: bold;
    font-family: var(--pf);
    text-transform: uppercase;
    font-size: 14px;
}
.node--type-news .field--name-field-author .field--name-node-title a{}
.node--type-news .field--name-field-author .field--name-field-position{
    font-family: var(--pf);
    font-size: 12px;
    color: #1A4985;
    font-weight: 400;
    max-width: 320px;
}
.node--type-news .field--name-field-author .field{margin-bottom: 0;}
.node--type-news .field--name-field-author .field h4{margin:0;}
.node--type-news .field--name-field-topic-ref, .node--type-news .field--name-field-country-ref{ overflow: hidden; }
.node--type-news .field--name-field-topic-ref .field__label, 
.node--type-news .field--name-field-country-ref .field__label{margin-bottom: 20px;}

.node--type-news .field--name-field-topic-ref a, 
.node--type-event .field--name-field-topic-ref a, 
.node--type-news .field--name-field-country-ref a,
.sidebar_second .view-fields-from-current-node a{
    background: #f0f0f0;
    padding: 6px 11px;
    display: inline-block;
    float: left;
    margin: 2px;
    font-size: 12px;
    font-family: var(--pf);
    font-weight: 600;
    border-radius: 5px;
    text-transform: capitalize;
}
.node--type-news .field--name-field-topic-ref a:hover,
.node--type-news .field--name-field-country-ref a:hover{background: #1A4985;color: white;}





/* Begin EVENTS */
/* Begin EVENTS */
/* Begin EVENTS */
/* Begin EVENTS */


.node--type-event #main #content section.section{
    background: white;
}

.node--type-event #main #content section.section h1.title{
    font-family: var(--sf);
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    font-weight: 400;
}
.node--type-event #main #content section.section .field--name-body{border-bottom: 1px solid #ccc;padding-bottom: 30px;}
.node--type-event #main #content section.section .field{margin-bottom: 20px;}
.node--type-event #main #content section.section .field .field__label{
    font-family: var(--pf);
    font-weight: 800;
    color: #194985;
    text-transform: uppercase;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 5px;
}

.featured-top .view-fields-from-current-node{
    position: absolute !important;
    font-family: var(--pf);
    font-weight: 400;
    bottom: 0;
    left: 0;
    background: rgb(20 57 105 / 50%);
    padding: 0 0 20px;
    color: white;
    font-size: 19px;
    right: 0;
    width: 100%;
    text-align: center;
}
.featured-top .view-fields-from-current-node:before{
    content: "";
    display: block;
    position: relative;
    top: -38px;
    right: 0;
    margin: auto;
    left: 0;
    height: 38px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 434.5 67.4' style='enable-background:new 0 0 434.5 67.4;' xml:space='preserve'%3E%3Cg transform='translate(55.921 -352.712)'%3E%3Cpath id='Path_3196' fill='rgba(20, 57, 105, .5)' d='M378.6,420.1c-147.4,0-174.3-67.4-217.3-67.4s-69.9,67.4-217.3,67.4L378.6,420.1L378.6,420.1z' /%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}
.featured-top .view-fields-from-current-node .view-content{width: 100%; max-width: 900px; margin: 0 auto;}
.featured-top .view-fields-from-current-node h1{
    font-weight: 700;
    margin-top: 0px;
    font-size: 33px;
}
.featured-top .view-fields-from-current-node a.filled-button{
    padding: 8px 30px;
    background: white;
    color: #1b4985;
    font-weight: bold;
    margin: 0 10px;
}
.featured-top .view-fields-from-current-node a.filled-button:hover{
	background: #58ab47;color: white;
}
.featured-top .view-fields-from-current-node .venue{
    color: #ffc425;
    font-size: 14px;
}
.featured-top .view-fields-from-current-node .date{
    font-size: 14px;
    margin: 10px 0;
}

@media (max-width:1477px) {
 .div {
   background-size: contain;
 }
}



.featured-top .view-fields-from-current-node p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    max-width: 800px;
}
.featured-top .view-fields-from-current-node time{}


/* events views */

.view-events{}
.view-events .form-type-textfield.js-form-item-keys{
    margin: 0px auto 2%;
    flex: 0 0 77%;
    padding: 0 0px 15px;
}

.view-id-events #main-wrapper{background: #fafafa;}
.view-id-events .views-exposed-form{border: none;padding: 0;margin-bottom: 80px;}

.event{box-shadow: 0 3px 7px #ccc;margin-bottom: 30px;background: white;}
.event .inner-event{padding: 20px;min-height: 253px;font-weight: 300;color: #666;position: relative;}
.event .event-type{
    background: #ffffffd4;
    position: absolute;
    padding: 11px 20px;
    border-radius: 0px 0px 100px 0px;
    color: #1b4985;
    font-family: var(--pf);
    font-weight: 400;
}
.event .date{
    color: #58ab47;
    font-size: 14px;
    font-weight: 700;
}
.event .body{
    margin-bottom: 15px;
    font-size: 12px;
}
.event .venue{
    font-size: 12px;
    font-weight: 600;
    padding: 11px 0 0;
    color: #194985;
    font-style: italic;
}
.event h4{
    font-size: 16px;
    margin: 20px 0;
    font-weight: 600;
    min-height: 66px;
}
.event h4 a{}
.event a.btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    font-size: 14px;
    text-transform: none;
    color: white;
    border: none;
    color: white;
    border: none;
}


.view-events ul.pager li a.button{
    text-align: center;
    background: white;
    color: #1a4985;
    border: 2px solid #58ab47;
    padding: 18px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--pf);
    -webkit-transition: background-color 300ms ease;
    -ms-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    line-height: 1;
    margin: 60px auto;
    width: 100%;
    max-width: 240px;
    display: block;
}
.view-events ul.pager {overflow: hidden;}
.view-events ul.pager li a.button:hover{background: #58ab47;color: white;}

.eventsb{
    padding: 8px 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #2a5e8a;
    min-height: 65px;
}
.eventsb.last{border: none;padding-bottom: 0;}
.last .eventsb{
    border-bottom: none;
    padding-bottom: 0;
}
.eventsb img{
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    max-width: 45px !important;
}
.eventsb h4{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.eventsb h4 a{}
.eventsb .event-inner{}
.eventsb .date{
    font-size: 10px;
    font-weight: 600;
    color: #58ab47;
}

/* events views */


/* end EVENTS */
/* end EVENTS */



@media (max-width: 992px) {
	.node--type-news #main #content section.section h1.title{
		font-size: 22px;
	}
	.node--type-news #main #content section.section:before{display: none;}
	.node--type-news #main #content section.section{top:0;padding: 0;}
	.node--type-news #main #content section.section:after{left: 0; top: -69px;}
}