/*Person page */
.node--type-person{}
.node--type-person .featured-top{min-height: 380px;}
.node--type-person .view-main-banner-content .main-banner{
	min-height: 400px;
}
.node--type-person .view-main-banner-content .main-banner .title-img{display: none;}

.node--type-person .block-system-main-block .field{margin-bottom: 20px;}
.node--type-person .block-system-main-block .field__label,
.node--type-person .block-system-main-block .field--label{
	font-family: var(--pf);
    font-weight: 800;
    color: #194985;
    text-transform: uppercase;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 5px;
}

.node--type-person .block-system-main-block .field--name-field-person-image{margin-bottom: 0}
.node--type-person .block-system-main-block .field--name-field-person-image img{border-radius: 1000px}

.node--type-person .block-system-main-block .field--name-node-title {margin-bottom: 0;}
.node--type-person .block-system-main-block .field--name-node-title h2{
    font-family: var(--sf);
    font-weight: normal;
    margin: 0 0 4px;
    text-transform: uppercase;
}
.node--type-person .block-system-main-block .field--name-field-position{
    font-size: 13px;
}


.node--type-person .field--name-field-research-theme-ref{overflow: hidden;margin-bottom: 50px !important;}
.node--type-person .field--name-field-research-theme-ref .field__label .field__label{margin-bottom: 30px;}
.node--type-person .field--name-field-research-theme-ref a{
    background: #f0f0f0;
    padding: 6px 11px;
    display: inline-block;
    float: left;
    margin: 2px;
    font-size: 14px;
    font-family: var(--pf);
    font-weight: 400;
    border-radius: 5px;
    text-transform: capitalize;
}
.node--type-person .field--name-field-research-theme-ref a:hover{background: #1A4985;color: white;}



/*related persons block*/

.related-persons{}
.related-persons .person{
    clear: both;
    overflow: hidden;
    padding: 8px 0;
    border: none;
}
.related-persons .person img{-webkit-border-radius: 100px;border-radius: 100px;float: left;margin: 0 14px 0 0;max-width: 66px;}
.related-persons .person h4{
    font-family: var(--sf);
    font-weight: 300;
    font-size: 21px;
    margin: 0;
}
.related-persons .person h4 a{
    color: #333;
}
.related-persons .person p{
    margin: 0;
    font-family: var(--pf);
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

/*related persons block*/




/*related stories*/

.news-in-person{}
.news-in-person ul.related-news{width: 100%; max-width: 900px; margin: 0 auto;}
.news-in-person ul.related-news li.related-news h4{margin-bottom: 0;font-size: 24px;padding: 10px 0px;}