/*slick-publications*/


.slick-publications {position: relative;}

.slick-publications .section-heading h2{margin-bottom: 0;}


.slick-publications div.slide h4{
    margin: 0px 12px 10px;
    padding: 0;
    font-family: var(--pf);
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    border: 1px solid #eee;
    border-right: 0;
    border-left: 0;
}
.slick-publications div.slide.slick-current h4{opacity: 1;}
.slick-publications div.slide:hover h4{opacity: 1;}
.slick-publications div.slide h4 a{
    display: block;
    bottom: 20%;
    text-align: center;
    padding: 10px;
    font-size: 11px;
    font-weight: 400;
    color: #555;
    min-height: 69px;
}
.slick-publications div.slide{
        position: relative;
        margin: -15px;
        -webkit-transition: all 100ms ease;
        -moz-transition: all 100ms ease;
        -ms-transition: all 100ms ease;
        -o-transition: all 100ms ease;
        transition: all 100ms ease;
        box-shadow: 0px 2px 6px rgb(51 51 51 / 20%);
        z-index: 0;
}
.slick-publications div.slide .pub-image a{display:block;position: static;}


.slick-publications div.slide .pub-image a:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(26 73 133);
    opacity: .1;
}

.slick-publications div.slide .brief{
  width: 100%;
  background: white;
  height: 60%;
  text-align: center;
  min-height: 170px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
.slick-publications div.slide:hover .brief{opacity: 1;}
.slick-publications div.slide.slick-current .brief{opacity: 1;}
.slick-publications div.slide .brief span{text-align: center;color: #1b4985;padding: 10px;display: block;border-bottom: 1px solid white;margin: 0;font-size: 14px;font-weight: 600;text-transform: uppercase;}


.slick-publications div.slide a.filled-button{
    border-radius: 0;
    padding: 6px 4px;
    width: 100%;
    max-width: 120px;
    margin: 0 auto 0px;
    text-align: center;
    display: block;
    font-size: 8px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.slick-publications div.slide a.filled-button:hover{
    background: #1b4985;
}

.slick-publications div.slide.slick-center{
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 999;
}

.slick-publications div.slide.keepTrackActive2{opacity: 1;z-index: 1000;}
.slick-publications div.slide.keepTrackActive2 .pub-image a:before{display: none;}

.slick-publications div.slide.keepTrackActive1,
.slick-publications div.slide.keepTrackActive3{
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 800;
}

.slick-publications div.slide.keepTrackActive0,
.slick-publications div.slide.keepTrackActive4{
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 700;
}
.slick-publications div.slide{opacity: 0;}
.slick-publications div.slide.keepTrackActive0,
.slick-publications div.slide.keepTrackActive1,
.slick-publications div.slide.keepTrackActive2,
.slick-publications div.slide.keepTrackActive3,
.slick-publications div.slide.keepTrackActive4{opacity: 1;}



.slick-publications{overflow: hidden;}
.slick-publications .slick-list{overflow: unset;margin: 60px 30px 90px;}
.slick-publications nav{position: absolute;width: 100%;display: block;margin: 0;height: 80px;top: 50%;left: 0;opacity: .4;}
.slick-publications nav:hover{opacity: 1;}

.slick-arrow {
    position: absolute;
    top: 0;
    background: transparent;
    height: 50px;
    width: 50px;
    color: transparent;
    border: none;
    display: block;
    float: unset;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.slick-prev:before, .slick-next:before  {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    content: "\f104";
    color: #1b4985;
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev{
    left: -25px;
    z-index: 99999;
}

.slick-next {
    right: -25px;
}

/* end slick-publications*/


.publication-teaser{
    padding: 0;
    margin: 15px 0px;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    background: white;
    box-shadow: 0 0px 10px #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.publication-teaser:hover{
    box-shadow: 0px 0px 12px #bbb;
}

.publication-teaser img{margin: 0;}
.publication-teaser .publication-img{
    padding: 10px;
}

.publication-teaser .publication-inner{
    padding: 0 10px;
}

.publication-teaser h5.pubtype{
    color: #1A4985;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 15px !important;
    border-bottom: 1px solid #eeeeee;
    padding: 14px 0 10px 0;
    line-height: 1;
}
.publication-teaser p.authors{
    margin: 0 0 5px;
    color: #555;
    font-size: 12px;
    font-weight: 400;
    min-height: 33px;
}
.publication-teaser h4{
    font-size: 13px;
    margin: 0px 0 10px !important;
    font-weight: 600;
    min-height: 90px;
    line-height: 1.4;
}
.publication-teaser.dataset h4{}


.publication-teaser h4 a{
    color: #333;
}
.publication-teaser .tags{
    border-top: 1px solid #eee;
    font-size: 10px;
    padding: 10px 0px;
    margin-bottom: 0;
}
.publication-teaser .tags, .publication-teaser .tags a{
    color: #1b4985;
    text-transform: capitalize;
    font-style: italic;
    line-height: 1.4;
}
.publication-teaser .tags .date{display: block;text-align: right;font-size: 13px;font-weight: 400;color: #666;font-style: italic;}


.publication-teaser img{margin-bottom: 0px;border-bottom: 1px solid #eeeeee;width: 100%;}

.publication-teaser a:hover{
    color: #58ab47 !important;
}


/* single publication */
/* single publication */
.node--type-publication{}

.node--type-publication .block-system-main-block,
.node--type-data .block-system-main-block {margin-bottom: 50px;}

.node--type-publication .block-system-main-block .field,
.node--type-data .block-system-main-block .field{
    padding: 0;
    margin: 0 0 30px;
}

.node--type-publication .block-system-main-block .field--name-field-full-title p,
.node--type-data .block-system-main-block .field--name-field-full-title p{margin: 0;}


.node--type-publication .field--name-node-title h2,
.node--type-data .field--name-node-title h2,
.node--type-publication .field--name-field-full-title{
    font-size: 30px !important;
    font-weight: 600;
    color: #1a4985;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 10px;
    display: block;
    text-transform: uppercase;
    line-height: 1.4;
    padding-bottom: 10px;
}
.node--type-publication .field--name-node-title h2:after,
.node--type-data .field--name-node-title h2:after,
.node--type-publication .field--name-field-full-title:after{
    content: " ";
    background: #58ab47;
    width: 140px;
    height: 3px;
    display: block;
    margin: 10px 0 0;
}


.node--type-publication .first-col .field .field__label,
.node--type-publication .third-col .field .field__label,
.node--type-publication .second-col .field .field__label,
.node--type-data .first-col .field .field__label,
.node--type-data .third-col .field .field__label,
.node--type-data .second-col .field .field__label{font-weight: 600;color: #194985;text-transform: uppercase;line-height: 1;font-size: 18px;margin-bottom: 11px;}

.node--type-publication .third-col .field .field__label,
.node--type-data .third-col .field .field__label{font-weight: 600;color: #194985;text-transform: uppercase;line-height: 1;font-size: 18px;margin-bottom: 9px;border-bottom: 1px solid #95B8E6;padding-bottom: 6px;position: relative;}
.node--type-publication .third-col .field .field__label:after,
.node--type-data .third-col .field .field__label:after{content: "";width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #95b8e6 transparent transparent transparent;background: white;bottom: -6px;left: 10px;position: absolute;}

.node--type-publication  .field .field__item,
.node--type-data  .field .field__item{}

.node--type-publication .third-col .field p,
.node--type-data .third-col .field p{
    margin-bottom: 5px;
}
.node--type-publication .third-col .field a,
.node--type-data .third-col .field a{color: #194985;}

.node--type-publication .second-col .field--name-body,
.node--type-data .second-col .field--name-body{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.node--type-publication .field--type-link,
.node--type-data .field--type-link{margin-bottom: 2rem;}

.node--type-publication .field--type-link a,
.node--type-data .field--type-link a{
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: #81a3d0;
}

/*topics under title*/
.node--type-publication .field--name-field-topic-ref,
.node--type-data .field--name-field-topic-ref{
    position: relative;
    color: #1A4985;
}

.node--type-publication .field--name-field-topic-ref:before,
.node--type-data .field--name-field-topic-ref:before{
    content: "\f02c";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 63px;
}
.node--type-publication .field--name-field-topic-ref .field__item,
.node--type-data .field--name-field-topic-ref .field__item{
    position: relative;
    display: inline;
}
.node--type-publication .third-col .field--name-field-topic-ref .field__label,
.node--type-data .third-col .field--name-field-topic-ref .field__label{
    padding-left: 20px;
    background: #194985;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: -1px;
    display: inline-block;
    position: relative;
}
.node--type-publication .third-col .field--name-field-topic-ref .field__label:after,
.node--type-data .third-col .field--name-field-topic-ref .field__label:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #194a85 transparent transparent transparent;
    background: white;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}


.node--type-publication .field--name-field-topic-ref .field__items,
.node--type-data .field--name-field-topic-ref .field__items{
    padding-left: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.node--type-publication .field--name-field-topic-ref .field__item a,
.node--type-data .field--name-field-topic-ref .field__item a{color: #1A4985;margin-left: 5px;background: #f0f0f0;padding: 8px 10px;display: inline-block;margin: 2px;border-radius: 5px;font-size: 10px;text-transform: capitalize;font-weight: 600;}
.node--type-publication .field--name-field-topic-ref .field__item a:hover,
.node--type-data .field--name-field-topic-ref .field__item a:hover{color:#58ab47}


.node--type-publication .featured-top img{width: 100%;}
/* end single publication */
/* end single publication */



/* Responsive Style */
/* Responsive Style */
/* Responsive Style */

@media (max-width: 992px) {
    .views-exposed-form{
    padding: 15px 10px;
}
    .views-exposed-form .form-group{
        width: 100%;
        margin: 0 10px;
        flex: 0 0 98%;
        margin: 10px 0;
        padding: 0;
    }
}


/* Responsive Style */
/* Responsive Style */
/* Responsive Style */
