.our-people{
    text-align: center;
}
.our-people h3{position: relative;color: #1b4985;padding-bottom: 30px;margin: 40px 0;text-align: left;font-family: var(--pf);font-size: 26px;}

.our-people h3:after {
    content: " ";
    background: #58ab47;
    width: 60px;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.our-people h4{
    text-align: center;
    margin: 10px 0;
}
.our-people h4 a{}
.our-people p{
    text-align: center;
    color: #4e6480;
    font-size: 14px;
    margin-bottom: 30px;
}
.our-people img{
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    width: 100%;
    max-width: 250px;
}


/*partners donors*/

div.view-partners-and-donors .views-exposed-form{}
div.view-partners-and-donors .views-exposed-form .form-group{
	margin: 0px 1% 2%;
    flex: 0 0 98%;
    padding: 0 0px 20px;}

div.view-partners-and-donors .views-exposed-form .form-group ul{}
div.view-partners-and-donors .views-exposed-form .form-group ul li{}
div.view-partners-and-donors .views-exposed-form .form-group ul li a{
    background: #194985;
    display: inline-block;
    float: left;
    margin: 2px;
    color: white;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    max-width: 49%;
    text-align: center;
    border-radius: 10px;
    font-family: var(--pf);
    font-weight: 400;
}


/*partner donor image style*/

div.partner-donor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    height: 170px;
    box-shadow: 0px 5px 11px rgb(51 51 51 / 20%);
}
div.partner-donor-logo img{
    width: auto;
    height: 100%;
    max-height: 100px;
}