:root {
  --pf: 'Poppins', sans-serif;
  --sf: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  word-break: break-word;
}

body {color: #3b3b3b;background: #292929; background: #FFF;}

ul li{padding: 5px 0;}

.nplr{padding-left: 0;padding-right: 0;}
.npr{padding-right: 0;}
.npl{padding-left: 0;}

.modal{color: #333;}

.slick{position: relative;}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

nav.tabs ul{z-index: 9;position: relative;max-width: 1110px;margin: 0 auto;width: 100%;}

a,.link {color: #0071b3;}

a:hover, a:focus, .link:hover, .link:focus {color: #58ab47;}
a:active, .link:active {color: #23aeff;}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: white;
  border: none;
  padding: 0;
}

.btn-primary {
  background-color: #194985;
  color: white;
  border-color: #0f3769;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 30px;
  font-family: var(--pf);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #58ab47;
  border-color: #58ab47;
}


.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* views exposed filters */
.content_top {
    padding: 40px 0;
}
.views-exposed-form{position: relative;margin-bottom: 10px;width: 100%;max-width: 800px;margin: 0 auto 20px;}
.views-exposed-form.block-views{border: none;padding: 5px;}
.views-exposed-form h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #194985;
    padding: 0 10px;
    text-align: center;
}
.views-exposed-form .form-row{margin: 0;padding: 0;justify-content: flex-start;}
.views-exposed-form .form-group{
    flex: 0 0 33%;
    margin: 0;
    padding: 0px 1%;
    margin-bottom: 20px;
}
.views-exposed-form .form-group label{font-weight: 400;display: block;margin: 0;padding: 0px 0px 5px 0px;font-size: 13px;line-height: 1;color: #194985;font-family: var(--pf);}
.views-exposed-form .form-group.form-item-kw{margin: 0px auto 2%;flex: 0 0 77%;padding: 0 0px 15px;}

.views-exposed-form .form-group .custom-select{background: #F7F7F7;padding: 0;height: unset;border: none;width: 100% !important;}


.views-exposed-form .form-group.form-actions{
    margin-bottom: 22px;
}
.views-exposed-form .form-group.form-actions button{
    width: 100%;
    max-width: 49%;
    padding: 9px 10px;
    background: #f7f7f7;
    color: #1b4985;
    border: none;
}
.views-exposed-form .form-group.form-actions button:first-child{
  background: #58ab47;
  color: #FFF;
}

.views-exposed-form .form-group.form-actions button:hover{background: #1A4985; color: white;}


.chosen-container-multi .chosen-choices li.search-field input[type="text"]{height: 0px;width: 0px;display: inline;font-family: var(--pf);font-weight: 300;color: #333;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"].default{font-size: 14px;height: 30px;}
.chosen-container-multi .chosen-choices{
    background: none;
    background-clip: padding-box;
    border: none !important;
    border-radius: .25rem;
    padding: 2px 10px;
    font-size: 1rem;
    min-height: 36px;
}
.chosen-container-multi .chosen-choices li.search-choice{
    background: #fafafa;
    line-height: 1;
    font-size: 15px;
    padding: 4px 20px 4px 5px;
    border: 1px solid #ddd;
    box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-choice span{
    font-weight: 500;
}
.chosen-container-multi .chosen-choices li.search-choice a{}

.chosen-container-single .chosen-single{
    background: #f7f7f7 !important;
    padding: 6px 10px;
    height: unset;
    box-shadow: none;
    border: none !important;
    font-family: var(--pf);
    font-weight: 300;
    color: #333;
}
.chosen-container-active.chosen-with-drop .chosen-single div b{background-position: -16px 2px;}

.dynamic-view-results{
    margin: 30px 0;
    line-height: 1;
}
.dynamic-view-results h3{
    font-weight: 400;
    line-height: 1;
    font-size: 20px;
}
.dynamic-view-results h3 strong{}

.form-control{border-color: #194985;font-family: var(--pf);font-weight: 300;color: #333;border: none;background: #f7f7f7;}
.chosen-container .chosen-results li.highlighted{background: #194985 !Important;}


/*views navigation*/

ul.pagination{
    margin: 40px 0;
    justify-content: center;
    width: 100%;
}
ul.pagination li{
    padding: 0;
}
ul.pagination li a, 
ul.pagination .page-item.active .page-link{padding: 10px 16px;line-height: 1;font-family: var(--pf);font-weight: 400;}
ul.pagination li span{line-height: 1;font-family: var(--pf);font-weight: 400; padding: 10px;}
ul.pagination li a span{padding: 0px;}
ul.pagination .page-item.active .page-link{
    background: #194985;
    border-color: #dee2e6;
    color: white;
}




/*gray areas*/
div.graybg{position: relative;background: #f1f2f6;}
div.graybg:before{
	position: absolute;
	height: 50px;
	width: 280px;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 434.5 67.4' style='enable-background:new 0 0 434.5 67.4;' xml:space='preserve'%3E%3Cg transform='translate(55.921 -352.712)'%3E%3Cpath id='Path_3196' fill='rgba(241, 242, 246, 1)' d='M378.6,420.1c-147.4,0-174.3-67.4-217.3-67.4s-69.9,67.4-217.3,67.4L378.6,420.1L378.6,420.1z' /%3E%3C/g%3E%3C/svg%3E");
	top: -43px;
	right: 18%;
	max-width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.path-frontpage .featured-top{position: relative;background: none;}
/*
.path-frontpage .featured-top:after{
	position: absolute;
	height: 47px;
	width: 310px;
	content: "";
	background: url(../images/whiteovalshape.svg) no-repeat;
	display: block;
	bottom: 0px;
	left: 14%;
	max-width: 100%;
	z-index: 1;
	background-size: 100%;
}
*/

/* tables */

table, .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}


th, td, .table td, .table th {
  padding: 20px;
  background: white;
  color: black;
}

.table tr td, table tr td{
    border: none;
}
.table tr th, table tr th {
    border: none !important;
    color: #1b4985;
    background: white;
    font-family: var(--pf);
}
table tr{
    border: none;
    border-bottom: 1px solid #eee;
}

/* table design  */

.shariff{}
.shariff ul.orientation-horizontal{margin: 0 0 15px !important;    max-width: 100%;}
.shariff ul li{
    height: unset !important;
    border: none !important;
    width: unset !important;
    display: inline-block !important;
    flex: unset !important;
    min-height: unset !important;
    min-width: unset !important;
    margin: 0 6px 0 0 !important;
    padding: 0;
}
.shariff ul li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 29px;
    background: #194985 !important;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
}
.shariff ul li a:hover{background:#58ab47 !important}
.shariff ul li a span.fa{
    font-size: 14px !important;
    color: white;
    width: 30px;
    line-height: 30px;
}
.shariff ul li a span.share_text{
    display: none !important;
}

.shariff ul li.twitter .fa-twitter:before{font-family: "Font Awesome 5 Brands";}
.shariff ul li.facebook .fa-facebook:before{font-family: "Font Awesome 5 Brands";}
.shariff ul li.linkedin .fa-linkedin:before{font-family: "Font Awesome 5 Brands";}
.shariff ul li.whatsapp .fa-whatsapp:before{font-family: "Font Awesome 5 Brands";}

/* shareiff*/


/* end shareiff*/



/* image hover  */

.imghover {
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

.imghover img {
    width: 100%;
    float: left;
    z-index: 10;
    margin: 0; border: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.imghover img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=1.05,M12=-0,M21=0,M22=1.05);
}

/* end image hover  */

/* drupal-bootstrap-paragraphs override to comply with proper bootstrap 4*/
.paragraph__column h2{
	color: #1b4985;
    flex: 1;
    font-size: 28px;
    flex: 0 0 100%;
    align-self: center;
    margin: 20px auto;
    padding: 0;
    position: relative;
    font-weight: 600;
    max-width: 1110px;
    width: 100%;
    text-transform: uppercase;
}

/*
.paragraph__column h2.p_title:after {
	content: " ";
    background: #58ab47;
    width: 60px;
    height: 5px;
    display: block;
    bottom: 0;
    position: absolute;
    left: 0;
}
*/

.paragraph__column h3{
	color: #333;
    font-size: 16px;
}

.paragraph--color{
    padding: 60px 15px 90px;
}
.paragraph{
    margin: unset;
    display: block;
    table-layout: unset;
    padding: 20px 0;
    clear: both;
}

.paragraph .paragraph{padding: 0;}

.paragraph:not(.paragraph--type--bp-columns-two-uneven):not(.paragraph--type--bp-columns-three-uneven):not(.paragraph--type--bp-columns) .paragraph__column{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    float: unset;
}

.paragraph.paragraph--width--full>.paragraph__column{
	max-width: 95% !important;
    padding-right: 0;
    padding-left: 0;
}

.paragraph.paragraph--width--full h2.p_title{text-align: center}

.paragraph:after, .paragraph:before{
  display: none;
}

.paragraph.paragraph--type--bp-columns-three-uneven>.paragraph__column,
.paragraph.paragraph--type--bp-columns-two-uneven>.paragraph__column,
.paragraph.paragraph--type--bp-columns>.paragraph__column{
    display: ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    min-height: unset;
    position: unset;
    float: unset;
    width: unset;
    max-width: 1140px;
    margin: 0 auto;
}

.paragraph.paragraph--type--bp-columns-three-uneven.paragraph--width--full>.paragraph__column,
.paragraph.paragraph--type--bp-columns-two-uneven.paragraph--width--full>.paragraph__column,
.paragraph.paragraph--type--bp-columns.paragraph--width--full>.paragraph__column{
    display: ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    min-height: unset;
    position: unset;
    float: unset;
    width: unset;
    max-width: 90%;
    margin: 0 auto;
}

.paragraph.paragraph--type--bp-columns-three-uneven.paragraph--width--full .paragraph__column h2,
.paragraph.paragraph--type--bp-columns-two-uneven.paragraph--width--full .paragraph__column h2,
.paragraph.paragraph--type--bp-columns.paragraph--width--full .paragraph__column h2{
	max-width: unset;
    text-align: center;
}



.paragraph--type--bp-columns__1col .paragraph.paragraph--width--full>.paragraph__column, .paragraph--type--bp-columns__1col .paragraph.paragraph--width--medium>.paragraph__column, .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow>.paragraph__column, .paragraph--type--bp-columns__1col .paragraph.paragraph--width--tiny>.paragraph__column, .paragraph--type--bp-columns__1col .paragraph.paragraph--width--wide>.paragraph__column, .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col, .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__3col, .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__4col, .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col, .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col{
  float: unset;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  min-height: unset;
}

.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__3col{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__4col{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col{
    -ms-flex: 0 0 25%;
    flex: 0 0 20%;
    max-width: 20%;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col{
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}


/*paragraph cards*/
.paragraph--type--bp-card{
    background: #FAFAFA;
    box-shadow: 0px 0px 2px #eee;
    border: 1px solid #f0f0f0;
}
.paragraph--type--bp-card h3.card-title{
    text-transform: uppercase;
    color: #1b4985;
    font-size: 22px;
    font-family: var(--pf);
}
.paragraph--type--bp-card .card-text{
    min-height: 100px;
}

.paragraph--type--bp-card .card-body{
    min-height: 180px;
}
/* end paragraph cards */
.paragraph--color--rgba-blue-light{background: #ebfafb}


/* paragraphs tabs */

.paragraph--type--bp-tabs{max-width: 1110px;margin: 0 auto;width: 100%;}
.paragraph--type--bp-tabs ul.nav-tabs{border:none;}
.paragraph--type--bp-tabs ul.nav-tabs li{display: flex;padding: 0;}
.paragraph--type--bp-tabs ul.nav-tabs li a{
	padding: 7px 20px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    background: white;
    margin: 0 5px;
}
.paragraph--type--bp-tabs ul.nav-tabs li.active a,
.paragraph--type--bp-tabs ul.nav-tabs li a:hover{
	background: #1A4985;
    color: white;
}
.paragraph--type--bp-tabs .tab-content{border: 1px solid #ccc;padding: 15px;}


.paragraph--type--bp-tabs .paragraph__column{padding: 0;}

/* paragraphs tabs */

/* VIDEO paragraphs */
.paragraph--type--video{margin-bottom: 20px;}
.paragraph--type--video .paragraph__column{padding-bottom: 0}
/* VIDEO paragraphs */

/* accordions */
.paragraph.paragraph--type--bp-accordion .paragraph__column{padding: 0;}
.paragraph.paragraph--type--bp-accordion .panel-heading a{font-weight: bold; font-size: 18px}
/* end accordions */

/* paragraph carousel */

.paragraph--type--bp-carousel .carousel-indicators{}
.paragraph--type--bp-carousel .carousel-indicators li{
	background: #194884;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100px;
}
.paragraph--type--bp-carousel .carousel-control{
	background: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    border-radius: 100px;
    border: 2px solid #1a4985;
    color: #1d4784;
    line-height: 36px;
    text-align: center;
    font-size: 17px;	
}
.paragraph--type--bp-carousel .carousel-control:hover{color: white; background: #1d4784;}

.paragraph--type--bp-carousel .carousel-control.left {left: 5%;}
.paragraph--type--bp-carousel .carousel-control.left span.glyphicon:after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f060";
}

.paragraph--type--bp-carousel .carousel-control.right {right: 5%;}
.paragraph--type--bp-carousel .carousel-control.right span.glyphicon:after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f061";
}

/* end paragraph carousel */

.paragraph--color--rgba-blue-strong h2, .paragraph--color--rgba-blue-strong p, .paragraph--color--rgba-blue-strong a{color:white;}

.paragraph--type--bp-accordion.paragraph--color--rgba-blue-strong a{color:#1A4985;}
.paragraph--type--bp-accordion.paragraph--color--rgba-blue-strong p{color:#333;}



@media (max-width: 768px) {
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col,
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__3col,
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__4col,
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col,
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col{width: 100%; max-width: 100%; flex: 0 0 100%;}
  
  .paragraph.paragraph--type--bp-columns.paragraph--width--full>.paragraph__column{max-width: 100%}
}


/* end drupal-bootstrap-paragraphs override to comply with proper bootstrap 4*/

/* featured video sticky */
@keyframes fade-in-up {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.videofloat iframe {
  max-width: 100%;
  max-height: 100%;
}
.videofloat.stuck {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 11;
  transform: translateY(100%);
  width: 260px;
  height: 145px;
  animation: fade-in-up 0.25s ease forwards;
}
.videofloat .closevideo {
  position: absolute;
  top: -14px;
  right: -12px;
  background: #1A4985;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  text-align: center;
}
.videofloat.button-visible .closevideo {
  display: block;
}


/* end featured video sticky */


/* share this sticky block */
#block-sharethispage{
	position: fixed;
    bottom: 0;
    right: 0;
    background: #f1f2f6;
    width: 100%;
    z-index: 80;
    padding: 15px 0;
}

#block-sharethispage a.greenbtn{
	margin: 0;
    padding: 8px;
    float: right;
}
#block-sharethispage .block-shariff{display: inline-block; padding-left: 10px}

#block-sharethispage .shariff ul.orientation-horizontal{margin: 0 !important;}


#block-sharethispage .hide-block{display: none;}
#block-sharethispage .sharethistoggle,
#block-sharethispage .contacttoggle{
	text-align: center;
    padding: 20px 0;
    border-top: 1px solid #1b4985;
}
#block-sharethispage nav{width: 100%;border-top: 1px solid #1b4985;}
#block-sharethispage nav a{font-weight:bold;padding: 12px;border-radius: 0;}
#block-sharethispage nav a:first-child{border-right: 1px solid #1b4985;}
/* end share this sticky block */



/* timeline carousel in carousel */
.slick--field-timeline-item{}
.slick--field-timeline-item .slick-list{}
.slick--field-timeline-item .slick-list .slick-track{}
.slick--field-timeline-item .slick-list .slick__slide{
	background: #1b4985;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slick--field-timeline-item .slick-list .slick__slide .paragraph{}
.slick--field-timeline-item .slick-list .slick__slide .paragraph img{}
.slick--field-timeline-item .slick-list .slick__slide .paragraph .field--name-field-timeline-title{}
.slick--field-timeline-item .slick-list .slick__slide .paragraph .field--name-field-timeline-date{}
.slick--field-timeline-item .slick-list .slick__slide .paragraph .field--name-field-timeline-body{}


/* timeline carousel in carousel */



/* knightlab timeline */
.tl-timeline{background: transparent !important}
.tl-slider-background{background: transparent !important}

.tl-slide-scrollable-container{margin: 0 auto;}

.tl-timeline .tl-slide h1, 
.tl-timeline .tl-slide h2, 
.tl-timeline .tl-slide h3, 
.tl-timeline .tl-slide h4, 
.tl-timeline .tl-slide h5, 
.tl-timeline .tl-slide h6{color:white;margin-bottom: 30px;}

.tl-timeline h2.tl-headline-title{margin-bottom: 30px;}

#timeline-embed.tl-timeline .tl-slide p{
	color: white !important;
    font-family: var(--pf);
    text-shadow: none !important;
    font-size: 18px;
}

.tl-slide .tl-slide-content-container .tl-slide-content{padding-right: 50px !important; padding-left: 50px !important;}

.tl-timeline .tl-slide.tl-full-image-background .tl-caption, 
.tl-timeline .tl-slide.tl-full-color-background .tl-caption, 
.tl-timeline .tl-slide.tl-full-image-background .tl-credit, 
.tl-timeline .tl-slide.tl-full-color-background .tl-credit{
	color: white;
	font-family: var(--pf);
    text-shadow: none !important;
}

.tl-timeline .tl-slide .tl-credit{
    background: white;
    color: black;
    margin: 0;
    padding: 5px 10px;
    display: inline;
}

.tl-slide .tl-slide-content-container .tl-slide-content .tl-text{
	vertical-align: top !important;
}

#timeline-embed .tl-timenav{
	border-radius: 10px;
    background: #2f5f9b;
    border: none;
}
#timeline-embed .tl-menubar-button{background: white;}
#timeline-embed .tl-timemarker .tl-timemarker-content-container{background: white;}
#timeline-embed .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline, 
#timeline-embed .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p{
	font-weight: bold;
    color: #194985;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description{
	color: white !important;
    text-shadow: none !important;
    opacity: 1;
}

.tl-slide .tl-credit,
.tl-slide .tl-caption, .tl-slide .tl-caption a{color: white;}

.tl-slide .tl-text .tl-headline-date, .tl-text h3.tl-headline-date{
	background: #58ab47;
    color: white;
    display: inline-block;
    padding: 6px 23px;
    margin-bottom: 20px;
}

/*responsive stuff*/

@media (max-width: 992px) {
	div.graybg:before, .path-frontpage .featured-top:after{
	  width: 270px;
	  background-size: 270px;
	  height: 41px;
	  left: 0;
	  top: -39px;
	  right: 0;
	  margin: auto;
	}
	.path-frontpage .featured-top:after{
	    width: 270px;
	    background-size: 270px;
	    left: 5%;
	    top: unset;
	    bottom: -1px;
	}
  	#block-sharethispage{padding:0;}
  	#block-sharethispage a.greenbtn {
	    margin: 0 auto;
	    padding: 8px;
	    float: unset;
	}
	.paragraph__column h2{padding: 0 15px}
}