@import "tailwindcss";


:root {
  --brand-color: #2563eb; 
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}


body {
  font-family: var(--font-barlow), sans-serif; 
  background-color: white;
  color: #121315; 
}

.max-header,.about
{
  padding: 0 100px;
}


.h1 {
  @apply text-[35px] xl:text-[45px] uppercase font-black leading-[1.1];
}

.h2 {
  @apply text-[36px] xl:text-[46px] capitalize font-bold;
  line-height: 1.3;
}

@media (min-width: 1280px) {
  .h2 {
    line-height: 56px;
  }
}

.h3 {
  font-family: var(--font-dmSans), sans-serif; 
  @apply font-bold text-3xl;
}


.h4 {
  @apply text-2xl font-semibold;
}

#projects
{
  margin-top:-50px;
}
